body{
background-color: grey;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
min-height: 100vh;
}


.quiz-container{

background-color: white;
border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
overflow: hidden;
width: 600px;
max-width: 100%;
}
.quiz-header{
padding: 2rem;
}

h2{
padding: 1rem;
text-align: center;
margin: 0;

}
ul {
list-style-type: none;
padding: 0;
}
ul li{
font-size: 1.2rem;
margin: 1rem 1rem;
}

ul li label{
cursor: pointer;
}
button{
background-color: #94B5FA;
border: none;
    color: white;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 5vh;
    font-size: 1.5rem;
    padding: 2rem;

}
button:hover{
background-color: black;
outline: none;
}
